fhirclient==3.2.0
Flask_SQLAlchemy
Werkzeug
WTForms
SQLAlchemy
Flask_WTF
Flask_Login
alembic
Flask_Migrate
Flask
email_validator
pandas
PyYAML
numpy
newspaper3k
gnews
lxml_html_clean
googlenewsdecoder
PyAudio
pyttsx3
portaudio
SpeechRecognition