{% from 'macros.html' import render_form %}
{% extends "base.html" %}
{% block content %}
  <div class="container bg-light">
    <h1>Register</h1>
    <br>
    <form novalidate method="POST">
      {{ form.hidden_tag() }}
      {{ render_form(form.family_name) }}<br>
      <br>
      {{ render_form(form.given_name) }}<br>
      <br>
      {{ render_form(form.date_of_birth) }}<br>
      <br>
      {{ render_form(form.oauth_server) }}<br>
      <br>
      {{ render_form(form.identifier_system) }} {{ render_form(form.identifier_value, label=False) }}
      <br>
      {{ render_form(form.email) }}<br>
      <br>
      {{ render_form(form.password) }}<br>
      <br>
      {{ render_form(form.password_confirm) }}<br>
      <br>
      {{ form.submit()}}
    </form>

    <br>
    <p>Already have an account? <a href="{{ url_for('users_bp.login') }}">Login</a></p>

  </div>
{% endblock %}
