{% extends "base.html" %}
{% block content %}
<div class="container bg-light">
    <h1>Latest Audio History</h1>
    <br>
    <table>
      <thead>
        <tr>
          <th>NewsID</th>
          <th>News Title</th>
          <th>Difficulty Level</th>
          <th>Record Date</th>
          <th>Time</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for oneaudio in audiohistory %}
        <tr>
            <td>{{ oneaudio[0] }}</td>  <!-- Audio ID -->
            <td>{{ oneaudio[1] }}</td>  <!-- News Title -->
            <td>{{ oneaudio[2] | date("Y-m-d H:i:s") }}</td>  <!-- Record Date -->
            <td>{{ oneaudio[3] }}</td>  <!-- News Level -->
            <td>{{ oneaudio[4] }}</td>  <!-- Audio Duration -->
            <td>{{ oneaudio[5] }}</td>  <!-- Audio Score -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <form action="{{ url_for('audioCollect_bp.audioCollect') }}" method="get">
      <button type="submit">New Audio Task</button>
    </form>
</div>
{% endblock %}